.loading_wrapper {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* .loading {
	color: var(--font-color);
	font-size: var(--sz-xs);
	font-weight: 400;
	letter-spacing: 0.1rem;
	animation: var(--animation-pulse);
} */

.loading {
	width: var(--sz-8);
	animation: var(--animation-pulse);
}
