.loader_wrapper {
	width: 100vw;
	width: 100dvw;
	height: 100vh;
	height: 100dvh;
	display: grid;
	place-items: center;
	background-color: var(--clr-pair-1);
}

.logo_wrapper {
	width: min(50%, 240px);
}

.logo {
	object-fit: cover;
	animation: var(--pulse-fast);
}

@media screen and (orientation: landscape) {
	.logo {
		object-fit: cover;
		animation: var(--pulse-slow);
	}
}
