.home_wrapper {
	display: grid;
	gap: calc(var(--radius) * 2);
}

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--clr-pair-1);
}

.hero_section {
	position: relative;
	justify-content: flex-end;
	height: 100dvh;
}

.hero_img_wrapper {
	width: 100%;
	height: 100%;
}

.hero_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero_logo_wrapper {
	width: 50%;
	position: absolute;
	margin: var(--radius);
	border-radius: var(--radius);
	border: solid var(--warm-gray);
	background-color: var(--white);
}

.hero_logo {
	width: 100%;
	height: 100%;
}

.purpose_section {
	gap: var(--radius);
	padding-inline: var(--radius);
}

.card {
	display: grid;
	border-radius: var(--radius);
}

.card_img_wrapper {
	width: 100%;
	overflow: hidden;
	aspect-ratio: 22/15;
	border-radius: var(--radius);
	border: solid var(--clr-pair-2);
	box-shadow: 0 0px 10px var(--clr-pair-2);
}

.card_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card_txt_wrapper {
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
	padding: var(--sz-0);
}

.card_title {
	font-family: var(--mark-pro-bold);
	font-size: var(--sz-2);
	line-height: 1.4;
}

.card_txt {
	font-family: var(--mark-pro-regular);
	font-size: var(--sz-0);
	line-height: 1.4;
}

.video_section {
	height: calc(100dvh - var(--radius) * 2);
	padding: var(--sz-xs);
}

.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-size: contain;
	border-radius: var(--radius);
	border: solid var(--clr-pair-2);
	box-shadow: 0 0 10px var(--cool-gray-1);
}

.conclusion_section {
	padding-inline: var(--radius);
	height: 55dvh;
}

.slider {
	display: grid;
	grid-template-rows: repeat(4, calc(100% - var(--radius) - var(--sz-xs)));
	gap: var(--sz-xs);
	width: 100%;
	height: 100%;
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
	overflow-y: scroll;
}

.slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--sz-0);
	padding: var(--radius);
	scroll-snap-align: center;
	border: solid var(--clr-pair-2);
	border-radius: var(--radius);
}

.one_arch_img_wrapper {
	width: 20%;
}

.two_archs_img_wrapper {
	width: 40%;
}

.three_archs_img_wrapper {
	width: 60%;
}

.full_archs_img_wrapper {
	width: 100%;
}

.slide_img {
	width: 100%;
}

.title {
	color: var(--font-color);
	font-size: var(--sz-2);
	text-align: center;
}

.dark_green {
	color: var(--pantone-356);
}

.green {
	color: var(--pantone-362);
}

.light_green {
	color: var(--pantone-368);
}

.strong {
	font-family: var(--mark-pro-bold);
}

.contact_section {
	padding-inline: var(--sz-xs);
	padding-bottom: var(--sz-8);
}

.contact_card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: var(--radius);
	width: min(100%, 800px);
	padding-inline: var(--radius);
	border-radius: var(--radius);
}

.card_header {
	font-family: var(--mark-pro-heavy);
	font-size: var(--sz-5);
	color: var(--pantone-368);
	color: var(--font-color);
	line-height: 1;
}

.card_text {
	padding: var(--sz-1) var(--sz-1) 0 0;
	color: var(--font-color);
	font-size: var(--sz-0);
	line-height: 1.4;
}

.link_wrapper {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: var(--cool-gray-1);
}

.link_icon {
	font-size: var(--sz-1);
}

.link_icon:hover {
	animation: var(--animation-scale-up) forwards;
	color: var(--font-color);
}

.calendly_btn {
	cursor: pointer;
	font-size: var(--sz-0);
	font-family: var(--mark-pro-medium);
	background-color: transparent;
	color: var(--pantone-362);
	padding: var(--sz-xs);
	border: solid;
	border-radius: var(--radius);
}

.calendly_btn:hover {
	background-color: var(--clr-pair-2);
	color: var(--font-color);
}

@media screen and (width >= 500px) {
	.hero_section {
		justify-content: center;
	}

	.hero_logo_wrapper {
		width: 40%;
	}

	.purpose_section {
		display: grid;
	}

	.card {
		grid-template-columns: repeat(2, 1fr);
	}

	.card_txt_wrapper {
		padding: 0 var(--sz-0);
	}

	.video_section {
		height: 100dvh;
		padding: var(--sz-xs);
	}

	.conclusion_section {
		height: 100dvh;
		padding-inline: calc(var(--radius) + var(--sz-xs));
	}
}
