section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero_section {
	height: 100dvh;
	justify-content: flex-end;
	background-color: var(--black);
}

.hero_img_wrapper {
	padding-right: var(--radius);
	padding-bottom: var(--radius);
}

.hero_img {
	width: 100%;
	object-fit: cover;
}

.presentation_section {
	height: 100dvh;
	padding: var(--sz-xs);
}

.slider {
	width: 100%;
	height: calc(100dvh - var(--sz-xs) * 2);
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
	display: grid;
	row-gap: var(--sz-xs);
}

.slide {
	scroll-snap-align: center;
	scroll-snap-stop: always;
	width: 100%;
	/* 100dvh - presentation_section's padding - slider's row-gap - slide's border-radius */
	height: calc(100dvh - var(--sz-xs) * 2 - var(--radius));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--radius);
	gap: var(--sz-0);
	border: solid;
	border-radius: var(--radius);
}

.one_arch_img {
	width: 20%;
}

.two_archs_img {
	width: 40%;
}

.three_archs_img {
	width: 60%;
}

.full_archs_img {
	width: 100%;
}

.paragraph {
	color: var(--font-color);
	font-size: var(--sz-3);
	text-align: center;
}

.video_section {
	height: 100dvh;
	padding: var(--sz-xs);
}

.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-size: contain;
}

.contact_section {
	padding: var(--radius);
}

.contact_card {
	width: min(100%, 800px);
	border-radius: var(--radius);
	padding: var(--sz-2);
}

.calendly_btn {
	cursor: pointer;
	font-size: var(--sz-0);
	margin-top: var(--sz-0);
	font-family: var(--mark-pro-medium);
	background-color: transparent;
	color: var(--font-color);
	border: none;
	border-bottom: 2px solid var(--font-color);
	opacity: 0.6;
}

.calendly_btn:hover {
	background-color: var(--bg-tertiary);
	opacity: 1;
}
