.purpose_section {
	position: relative;
	height: 100dvh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--clr-pair-1);
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.cards_stack {
	width: 100%;
	height: 100%;
	padding-bottom: 62.5%;
	overflow-y: scroll;
	scrollbar-width: none;
	scroll-snap-type: y mandatory;
}

.card {
	height: 100%;
	display: grid;
	align-content: center;
	justify-items: center;
	scroll-snap-align: start;
}

.card_img_wrapper {
	position: absolute;
	bottom: 0;
	width: 94%;
	aspect-ratio: 3/2;
	margin-inline: 3%;
	border: solid var(--clr-pair-2);
	border-bottom: none;
	border-top-right-radius: var(--radius);
	border-top-left-radius: var(--radius);
	box-shadow: 0 0px 10px var(--clr-pair-2);
	overflow: hidden;
}

.card_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card_txt_wrapper {
	width: calc(94% - var(--radius));
}

.card_title {
	font-family: var(--mark-pro-bold);
	font-size: var(--sz-5);
	line-height: 1.2;
	text-align: center;
}

.card_title > em {
	font-family: var(--mark-pro-bold);
	font-size: var(--sz-5);
	line-height: 1.2;
	text-align: center;
}

.card_txt {
	font-family: var(--mark-pro-regular);
	font-size: var(--sz-2);
	line-height: 1.4;
	text-align: center;
}

/* @media screen and (width >= 500px) { */
@media screen and (orientation: landscape) {
	.purpose_section {
		position: static;
		padding: 2%;
	}

	.cards_stack {
		width: 100%;
		height: 100%;
		padding-bottom: 0;
		overflow-y: unset;
		scroll-snap-type: unset;
		display: flex;
		flex-direction: column;
		gap: 2%;
	}

	.card {
		scroll-snap-align: unset;
		/** test */
		width: 100%;
		height: calc((100% - calc(2% * 2)) / 3);
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 1fr;
		scroll-snap-align: unset;
		gap: 1%;
	}

	.card_img_wrapper {
		position: static;
		width: unset;
		aspect-ratio: unset;
		margin-inline: unset;
		border-radius: var(--sz-0);
		/** test */
		width: 100%;
		height: 100%;
	}

	.card_img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.card_txt_wrapper {
		width: unset;
	}

	.card_title {
		font-size: var(--sz-2);
		line-height: 1.2;
		text-align: start;
	}

	.card_title > em {
		display: none;
	}

	.card_txt {
		font-size: var(--sz-0);
		line-height: 1.1;
		text-align: start;
	}
}
