.video_section {
	position: relative;
	height: 100dvh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--clr-pair-1);
	scroll-snap-align: start;
}

.txt {
	position: absolute;
	width: 94%;
	padding: var(--sz-1);
	color: var(--font-color);
	font-family: var(--mark-pro-bold);
	font-size: var(--sz-5);
	text-align: center;
	line-height: 1;
	background-color: var(--clr-pair-1);
	border: solid var(--clr-pair-2);
	border-bottom: none;
	border-top-right-radius: var(--radius);
	border-top-left-radius: var(--radius);
	box-shadow: 0 0 10px var(--cool-gray-1);
}

.reel {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-size: contain;
}

.demo {
	display: none;
}

@media screen and (orientation: landscape) {
	.video_section {
		flex-direction: row;
	}

	.txt {
		position: static;
		width: 50%;
		height: 100%;
		border-radius: unset;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: none;
		border-right: solid var(--cool-gray-2);
		box-shadow: none;
	}

	.reel {
		display: none;
	}

	.demo {
		display: block;
		width: 50%;
		height: 100%;
		object-fit: cover;
	}
}
