.nav_bar {
	width: 65%;
	position: absolute;
	bottom: 1%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2%;
}

.nav_link {
	text-decoration: none;
	color: var(--font-color);
	font-size: var(--sz-s);
}

.thumbnail {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}

.subtitle {
	width: 100%;
	display: inline-block;
	text-align: center;
}

@media (orientation: landscape) {
	.nav_bar {
		width: 35%;
	}
}
