.footer {
	width: 100%;
	height: unset;
	padding: var(--radius);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--cool-gray-1);
	background-color: var(--clr-pair-1);
	border-top: 1px solid var(--clr-pair-2);
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.footer_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--sz-0);
}

.link_wrapper {
	width: 80%;
	display: flex;
	justify-content: space-evenly;
}

.link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: var(--cool-gray-1);
}

.link_icon {
	font-size: var(--sz-2);
}

.link_icon:hover {
	animation: var(--animation-scale-up) forwards;
	color: var(--font-color);
}

.txt {
	line-height: 1.5;
	font-weight: 400;
	text-align: center;
	font-size: var(--sz-0);
}
