.header {
	width: 100%;
	min-height: 10dvh;
	height: 10dvh;
	z-index: 10;
	bottom: 0;
	position: fixed;
	background-color: var(--bg-secondary);
	border: 1px solid var(--bg-secondary);
	border-top-right-radius: var(--radius);
	border-top-left-radius: var(--radius);
	box-shadow: var(--shadow);
}

.main {
	min-height: 100dvh;
	background-color: var(--bg-primary);
	color: var(--font-color);
}

.footer {
	opacity: 0.65;
	min-height: 10dvh;
	margin-bottom: 10dvh;
	padding: var(--radius);
	color: var(--font-color);
	border-top: 1px solid var(--bg-secondary);
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--sz-0);
	width: min(75%, 600px);
	margin-inline: auto;
}

.link_wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: var(--font-color);
}

.link_icon {
	font-size: var(--sz-1);
}

.link_icon:hover {
	animation: var(--animation-scale-up) forwards;
	opacity: 1;
}

.address {
	line-height: 1.5;
	font-weight: 400;
	font-size: var(--sz-s);
}

@media screen and (width >= 520px) {
	.header {
		width: min(15dvw, 120px);
		min-height: 100dvh;
		height: 100dvh;
		z-index: 10;
		bottom: unset;
		left: 0;
		border-radius: unset;
	}

	.main {
		min-height: 100dvh;
		margin-left: min(15dvw, 120px);
	}

	.footer {
		min-height: 10dvh;
		margin-left: min(15dvw, 120px);
		margin-bottom: 0dvh;
	}
}
